RewriteEngine On    # Turn on the rewriting engine
RewriteRule    ^article/?$    content/index.php   [NC,L] # Handle requests
RewriteRule    ^article/?$    content/   [NC,L] # Handle requests
RewriteRule    ^article/([0-9]+)/?$    content/index.php?article=$1  [NC,L]
# Return 403 Forbidden header and show the content of the root homepage
#RewriteRule .* index.php [F]

