RewriteEngine On    # Turn on the rewriting engine
RewriteCond   %{REQUEST_URI} ^/index.php
RewriteRule   .* index.php [L]
RewriteRule   ^article/?$    content/index.php   [NC,L] # Handle requests
RewriteRule   ^article/([A-Za-z0-9-]+)/?$    content/index.php?article=$1  [NC,L]
#RewriteRule   ^(.*)/img/(.*)$ $1/img/$2 [L,R=301]