<html>

    <head>
        <title>{page_title}</title>
        <link rel="stylesheet" href="{template_res}/css/masonry.css" type="text/css" media="screen">
        {templata_jquery}
        <script type="text/javascript" src="{template_res}/js/masonry.pkgd.min.js"></script>
    </head>

    <body>
    {body_content}
    </body>

    <!-- <script type="text/javascript" charset="utf-8">
        var container = document.querySelector('#container');
        var msnry = new Masonry( container, {
            // options
            columnWidth: 200,
            itemSelector: '.item'
        });

        var msnry = new Masonry( '#container', {
            // options
        });
    </script> -->
</html>