@charset "utf-8";
/* CSS Document */

/* Copy ---------------------------------------------------------------*/

body {
	font-family:Arial, Helvetica, sans-serif;
	color: #58595b;
	font-size: 12px;
	background-color: #f6f6f6;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:15px;
}

a {
	text-decoration:none;
	color:#3a414e;
}

a:hover {
	color:#2899b7;
}

p {
	line-height:18px;
}


/* Header ---------------------------------------------------------------*/

header {
	height: 160px;
 	width: 100%;
  	background-color: #e9e9e9;
	background-image: url(../../../images/greenwhich/header_tile.png);
	background-repeat: repeat-x; 
}

#logo {
	margin-top: 25px;
}


/* Nav ---------------------------------------------------------------*/

ul {
list-style-type:none;
margin-top: 75px;
padding:0;
}

a {
display:block;
width:72px;
}

a:hover {
color:#93cf42;
}

a:active {
color: #8dc63f;
}

li {
display:inline;
float:left;
width:75px;
text-align:center;
}


/* Banner ---------------------------------------------------------------*/

#banner {
	height: 398px;
 	width: 100%;
  	background-color: #dcdbdb;
	background-image: url(../../../images/greenwhich/banner_tile.png);
	background-repeat: repeat-x;
	margin-bottom: 20px;
}


/* Heading ---------------------------------------------------------------*/

#heading {
	margin-top: 53px;
	text-align:left;
}

#heading-icon {
	width: 60px;
	height: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
}



/* Line ------------------------------------------------------------------*/

.line {
	height: 1px;
	background: #d1d3d4;
	margin-top: 50px;
	margin-bottom: 20px;
}

.line_2 {
	height: 1px;
	background: #d1d3d4;
	margin-top: 0px;
	margin-bottom: 20px;
}

.line_3 {
	height: 1px;
	background: #d1d3d4;
}




/* Signup ---------------------------------------------------------------*/


.signup {
	margin-top: 30px;
	margin-bottom: 50px;
}



/* Form ---------------------------------------------------------------*/


input {
	width: 100%;
	height: 40px;
	background: #ffffff;
	border: none;
	margin-bottom: 10px;
	margin-top: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#58595b;
	padding-left: 20px;
}

textarea {
	width: 920px;
	height:170px;
	border:none;
	margin-bottom:10px;
	margin-top: 7px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#3a414e;
	background: #fff;
	margin-left:0px;
	padding-top: 10px;
	padding-left: 20px;
}

::-webkit-input-placeholder {
   color: #d1d3d4;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d1d3d4;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d1d3d4;  
}

:-ms-input-placeholder {  
   color: #d1d3d4;  
}

#submit {
    width:140px;
    height:40px;
	background-color:#58595b;
	background-image:url(../../../images/greenwhich/submit_btn.png);
    border:none;
    cursor:pointer;
	float:right;
	text-align:left;
	color:#f6f6f6;
	padding-left:28px;
}

#submit:hover {
	    opacity:0.9;
	}


/* Footer ---------------------------------------------------------------*/


footer {
  width: 100%;
  background-image: url(../../../images/greenwhich/footer_tile.png);
  background-repeat: repeat-x;
  background-color: #8dc63f;
}

#footer-content{ 
  height: 200px;
}

footer h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:lighter;
	font-size:15px;
	color:#FFF;
}
	

footer p {
	font-size:12px;
	color:#ffffff;
}

#facebook {
	
}

#twitter {
	
}

/* Copyright ---------------------------------------------------------------*/


#copyright {
  width: 100%;
  background-color: #505153;
}

#copyright-content{ 
  height: 27px;
  padding-top: 5px;
}

#copyright p {
	font-size:11px;
	color:#ffffff;
}




/* Contact Us ==================================================================*/


/* Contacts Form ---------------------------------------------------------------*/

.contacts {
	margin-top: 28px;
}

.icon {
	float: left;
	margin-right: 15px;
}

.contacts p {
	margin-top: 4px;
}

/* Contacts Page Footer ---------------------------------------------------------------*/


.contacts_page_footer {
  width: 100%;
  background-image: url(../../../images/greenwhich/footer_tile.png);
  background-repeat: repeat-x;
  background-color: #8dc63f;
  margin-top: 45px;
}

.contacts_page_footer-content{ 
  height: 55px;
  padding-top: 15px;
}
	
