/*MEDIA QUERIES
------------------------------------------------*/

/* medium --------------------------*/
@media screen and (max-width : 1024px)	{

    h1
    {
        font-size: 1.5em;
    }
    h2
    {
        font-size: 1.2em;
        font-weight: 100;
    }
    h3
    {
        font-size: 0.9em;
    }
    p, ul, ol
    {
        font-size: 0.750em;
    }

    #picshow
    {
        /*margin: 1% 4% 8% 14%;*/
    }

    #content
    {
        margin-top: 2%;
    }

}


/* small ---------------------------*/
@media screen and (max-width : 720px)	{

    h1
    {
        font-size: 1.23em;
        text-align: center;
    }
    h2
    {
        font-size: 1.2em;
        font-weight: 100;
    }
    p
    {
        font-size: 0.750em;
    }

    .container_12 .prefix_1,
    .container_12 .prefix_2,
    .container_12 .prefix_3,
    .container_12 .prefix_4,
    .container_12 .prefix_5,
    .container_12 .prefix_6,
    .container_12 .prefix_7,
    .container_12 .prefix_8,
    .container_12 .prefix_9,
    .container_12 .prefix_10,
    .container_12 .prefix_11
    {
        padding:0;
    }

    .container_12 .suffix_1,
    .container_12 .suffix_2,
    .container_12 .suffix_3,
    .container_12 .suffix_4,
    .container_12 .suffix_5,
    .container_12 .suffix_6,
    .container_12 .suffix_7,
    .container_12 .suffix_8,
    .container_12 .suffix_9,
    .container_12 .suffix_10,
    .container_12 .suffix_11
    {
        padding: 0;
    }

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12
    {
        width:100%;
    }

    .container_12
    {
        margin-top: 8.6%;
    }

    #topper
    {
        height: 40px;
    }
    #topper #title h1
    {
        text-align: center;
        margin: 1.7% 0 0 0;
    }

    #switch,#panel
    {
        display: block;
        position: fixed;
        width: 100%;
        font-size: 0.750em;
        z-index: 101;
    }

    #switch
    {
        top: 0px;
        height: 40px;
        right: 0px;
        opacity: 0.9;
        text-align:center;
        /*background-color: skyblue;*/
        cursor: pointer;
        width: 8%;
    }

    #switch img
    {
        margin-top: 13%;
        width: 90%;
    }

    #panel
    {
        top: 40px;
        height: 32%;
        width: 50%;
        right: 0px;
        display:none;
        opacity: 0.9;
        background-color:skyblue;
        border:solid 1px lightslategrey;
        border-top: none;
        border-right: none;
    }

    #panel ul
    {
        /*float: right;*/
        /*width: 70%;*/
    }

    #panel ul li
    {
        text-align: left;
        /*float: none;*/
        list-style: none;
        display: block;
        /*margin-left: 0;*/
        font-size: 1em;
        padding: 10px;
        /*padding-left: 0px;*/order-width: 3px;
        border-bottom: solid thin lightslategrey;
    }

    #panel ul li a
    {
        display: block;
        color: #ffffff;
        text-decoration: none;
        -webkit-user-select: none;
    }

    #panel ul #active_page a
    {
        color: royalblue;
    }

    #panel ul li a:hover
    {
        background: #87CEFA;
        color: royalblue;
        /*border-radius: 25px;*/
        /*border: solid thin #FFF;*/
        /*text-align: center;*/
        transition: background 01s;
        -moz-transition: background 01s;
        -webkit-transition: background 01s;
    }

    #navigation ul
    {
        display: none;
    }

    #picshow
    {
        margin: 2% 1% 15% 3.5%;
        width: 90%;
        height: 100%;
    }
    #content
    {
        width: 98%;
        margin-top: 1%;
        padding-left: 1%;
    }
    dt	{
        padding: 0px;
    }
    label
    {
        /*float: center;*/
    }
    #form
    {
        margin-left: 0;
    }
    #form dl
    {
        margin-left: 0%;
    }
    #form dl input
    {
        width: 82%;
    }
    #form dl textarea
    {
        width: 82%;
    }

}
