<!DOCTYPE HTML>
<html lang="en">

<head>
<meta charset="UTF-8">
	<title>{page_title}</title>
	<link rel="stylesheet" href="{template_res}/css/reset.css" type="text/css" media="screen">
	<link rel="stylesheet" href="{template_res}/css/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="{template_res}/css/960.css" type="text/css" media="screen">
    
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
	<header>
        <div id="header-content" class="container_12 clearfix">
            <div id="logo" class="grid_3 suffix_5" alt="Greenwhich Institude of Technology"><a href="index.html"><img src="{templata_images}/greenwhich/greenwhich_logo.png" width="181" height="117"></a></div>

            <div class="grid_4">
                {navigation_menu}
            </div>

        </div>
	</header>

   	{body_content}
    
    <footer>
        <div id="footer-content">
            <section class="container_12 clearfix">
                <div id="heading-icon" class="grid_1"><img src="{templata_images}/greenwhich/contacts_icon.png"></div>
                <div id="heading" class="grid_11"><h1>Who are we?</h1></div>
                </section>
                <section class="container_12 clearfix">
                <p class="grid_4"> Physical Address Here <br/>
                (011) 343 1234 | mitch@greenwhich.co.za</p>

                <div id="facebook" class="grid_1"><a href="https://www.facebook.com/greenwhich.html"><img src="{templata_images}/greenwhich/facebook_icon.png"></a></div>
                <div id="twitter" class="grid_1"><a href="za.linkedin.com/pub/bogosi-nkhi/46/376/44a/"><img src="{templata_images}/greenwhich/twitter_icon.png"></a></div>
            </section>
        </div>
	</footer>
   
   <section id="copyright">
   <div id="copyright-content" class="container_12 clearfix">
   		<p>© Greenwhich 2014 Copy right reserved</p>
   </div>
   </section>
    
</body>
</html>
